body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-scrolled {
  color: #000; 
}

.navbar-transparent {
  background: transparent;
}

.menu-item-scrolled {
  color: #000;
}

.menu-item-transparent {
  color: #fff; 
}

.vector {
  background: rgba(255,255,255,1);
  width: 5px;
  height:280px;
}

.container {
  display: flex;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .navbar-scrolled {
    background: linear-gradient(to right, #91C8E4, #4682A9);
    color: #000;
}
  .vector {
    width: 100%;
    height: 4px;
  }
  .mobile-menu {
    background: linear-gradient(to right, #91C8E4, #4682A9);
    padding: 10px;
  }
  .lg\:flex {
    flex-direction: column;
  }

  .w-full.mt-10.ml-10.mr-20{
    margin: 20px 0;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .grid-cols-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .mx-20 {
    margin: 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;